# Explorations

In [6]:
import duckdb

duckdb.sql("SELECT guest_name, room_type FROM 'data/hotel*.csv'")

┌─────────────────┬───────────┐
│   guest_name    │ room_type │
│     varchar     │  varchar  │
├─────────────────┼───────────┤
│ Daniel Karlsson │ Standard  │
│ Elin Andersson  │ Deluxe    │
│ Lukas Eriksson  │ Single    │
│ Olivia Larsson  │ Standard  │
│ Viktor Persson  │ Deluxe    │
└─────────────────┴───────────┘

In [8]:

df = duckdb.sql("SELECT guest_name, room_type FROM 'data/hotel*.csv'").df()
df

        guest_name room_type
0  Daniel Karlsson  Standard
1   Elin Andersson    Deluxe
2   Lukas Eriksson    Single
3   Olivia Larsson  Standard
4   Viktor Persson    Deluxe

In [10]:
df.to_dict()

{'guest_name': {0: 'Daniel Karlsson',
  1: 'Elin Andersson',
  2: 'Lukas Eriksson',
  3: 'Olivia Larsson',
  4: 'Viktor Persson'},
 'room_type': {0: 'Standard',
  1: 'Deluxe',
  2: 'Single',
  3: 'Standard',
  4: 'Deluxe'}}

In [11]:
df.to_dict(orient="records")

[{'guest_name': 'Daniel Karlsson', 'room_type': 'Standard'},
 {'guest_name': 'Elin Andersson', 'room_type': 'Deluxe'},
 {'guest_name': 'Lukas Eriksson', 'room_type': 'Single'},
 {'guest_name': 'Olivia Larsson', 'room_type': 'Standard'},
 {'guest_name': 'Viktor Persson', 'room_type': 'Deluxe'}]